body{
	background: #F2F9FF;
}

/*Header*/
#logo {
	width: 150px;
}

.korzina {
	text-align: right;
}

/*Навигация*/
.nav {
	width: 100%;
	text-align: center;	
}

/*Фиксация новгиации*/
#menu {
	z-index: 999;
	text-transform: uppercase;
	text-align: center;
	background: #FED000;
	box-shadow: 5px 8px 10px #333;
	min-height: 45px;
}
#menu ul {
	padding:0;
	margin:0;
}
#menu li{
	display: inline;
	list-style:none;
	padding:0;
}

#menu li a {
	border-right: 1px solid #FFE63E;
	color:#fff;
	text-decoration: none;
	padding: 10px;

}

#menu li a:hover{
	background: #F4BD00;
	-webkit-transition-property: color, background;
	-webkit-transition-duration: 0.5s, 0.5s;
}
.default {
	width:100%;
}
.fixed {
	position:fixed;
	top:-5px; left:0;
	width:100%;
	padding:10px 0;
	box-shadow: 5px 5px 20px #333;
}




/*Навигация под телефон*/
.nav_logo {
	text-align: center;
}

.nav-korzina{
	margin-top: 10px;
	height: 40px;
	width: 100%;
}

#nav-logo{
	width: 80px;
}

/*Slider*/
.slider{
	box-shadow: 0 5px 5px 5px #768696;
	height: 400px;
}

.carousel-inner  .item  img{
	height: 400px;
	width: 100%;
}

